#leftPanel{

position:absolute;
left:0;
top:0;
width:260px;
height:100%;
background:rgba(0,0,0,0.85);
border-right:1px solid #222;
overflow:auto;

}

#panelHeader{

padding:10px;
cursor:pointer;
background:#111;

}

#search{

width:90%;
margin:10px;
padding:6px;
background:#000;
color:white;
border:1px solid #444;

}

.objectItem{

padding:8px;
border-bottom:1px solid #222;
cursor:grab;

}

.objectItem:hover{

background:#111;

}

#rightPanel{

position:absolute;
right:0;
top:0;
width:200px;
background:rgba(0,0,0,0.85);
padding:10px;

}

#infoBox{

margin-top:10px;
font-size:12px;

}
